<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Loan dept">

  <test name="Home loan">
    <classes>
      <class name="jav.auto.Test1"/> 
    </classes>
    </test>
    
    
    
   <test name="Personal loan"> 
    <classes>
     <class name="jav.auto.Test2">
     <methods>
     <!-- exclude name="mobilePersonalLoan"/-->
     <include name="mobilePersonalLoan"/>
      </methods>
     </class>
      </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
